ANTHROPIC_API_KEY=
AWS_REGION=
BACKEND_URL=
DATABASE_URL= postgresql://postgres.yevyzrckpivqfiqamfez:Genuai@2026@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
FRONTEND_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GMAIL_APP_PASSWORD=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
S3_BUCKET=
SES_FROM_EMAIL=
