# npm cache
.npm/
.config/

# pm2 logs and pid
.pm2/

# bash history
.bash_history
.wget-hsts

# build artifacts
dist/
node_modules/

# env files
.env
*.pem
*.tsbuildinfo

# aws/temp files
*.zip
raw_cf_wrapper.json
updated_cf_config.json
lambda_function.py

# logs
*.log
.aws/
.cache/
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.psql_history
.sudo_as_admin_successful
genuai-complete
